{
  "presets": [
    ["@babel/env", {
      "modules": false,
      "loose": true,
      "targets": {
        "browsers": ["ie 10", "ios 7"]
      }
    }],
    "@babel/preset-flow",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-object-rest-spread",
    "@babel/plugin-transform-object-assign",
    "loop-optimizer",
    ["module-resolver", {
      "root": ".",
      "alias": {
        "~": "./src"
      }
    }]
  ]
}