{
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "globals": {
    "ENV": true
  },
  "extends": [
    "react-app",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "react",
    "flowtype",
    "flowtype-errors"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "indent": [1, 2],
    "quotes": [1, "single"],
    "semi": [1, "never"],
    "flowtype/no-types-missing-file-annotation": 0,
    "flowtype-errors/show-errors": 1,
    "flowtype-errors/show-warnings": 1,
    "jsx-a11y/href-no-hash": "off"
  }
}