{
  "parser": "babel-eslint",
  "extends": [
    "react-app",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "react",
    "flowtype",
    "flowtype-errors"
  ],
  "rules": {
    "indent": 0,
    "quotes": 0,
    "semi": [ 1, "never" ],
    "flowtype/no-types-missing-file-annotation": 0,
    "flowtype-errors/show-errors": 1,
    "flowtype-errors/show-warnings": 1,
    "jsx-a11y/href-no-hash": 0
  }
}